
# Default ignored files
node_modules
.idea
pnpm-lock.yaml
/shelf/
/.idea/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
